nav ul {

	text-align: right;
	background-color: rgba(255,255,255,0.75);
	margin: -13px -8px 0px -8px;
	padding: 13px 23px 13px 0;
}

nav ul li {

	list-style-type: none;
	display: inline-block;
	color: white;
	padding: 5px 10px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;

}

nav ul li a {
	color: black;
	text-decoration: none;
}



#logo {

	margin-top: -48px;
	margin-left: 10px;
}

body {

	color: white;
	background-image: url("autumn2.jpg");
	background-size: cover;
	background-position: center;

}

#main{

	text-align: center;
	font-family:  'Oswald', sans-serif;
	background-image: url("feather.png");
	color: black;
	margin: 0 -8px;

}

#about {

	font-size: 100px;
	color: white;
	padding: 78px 0px;
	text-align: center;
	font-family: 'Oswald', sans-serif

}

#welcome {

	font-size: 34px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.profile {
	list-style-type: none;
	display: inline-block;
	height: 200px;
	width: 200px;
	padding: 80px 110px;
	margin-left: -80px;

}
.profile  img {
	border-radius: 100px;
}

.names {

	padding-left: 180px;

} 

#fact {
	
	font-size: 1px;

}
.contact {
	font-size: 24px;
	padding-bottom: 20px;
}

table tr td a {
	text-decoration: none;
}
