body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-image: url("https://source.unsplash.com/random/1600x900?nature"),url("autumn2.jpg");
    /*have a look to this site -------  https://source.unsplash.com/  --------*/
     /*if online, online photo, else background autumn jpg */
    /*background-image: url("autumn2.jpg"); */
}
#holderdiv {
    background-color: rgba(255,255,255,0.60);
    width: 65%;
    height: auto;
    position: relative;
    top: 5px;
    left: 18%;
    border: 1px solid black;
    border-radius: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    color: black;
}
input {
     font-family: 'Oswald', sans-serif;
     background-color: white;
     color: black;
     border: 1px solid black;
     border-radius: 2px;
}