body {
    color: black;;
    background-image: url("feather.png");
    background-repeat: repeat;
    background-position: center;
    font-family:  'Oswald', sans-serif;
    text-align: center;
}
 
nav ul {
 
    text-align: right;
    background-color: rgba(255,255,255,0.75);
    margin: -13px -8px 0px -8px;
    padding: 13px 23px 13px 0;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
 
 
#logo {
    margin-top: -48px;
    margin-left: 10px;
    text-align: left;
}
 
 
.profile {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin: 0 130px;
    position: absolute;
    left: 50%;
    top: 54%; 
    margin-left: -150px;
    margin-top: -150px;
}
#pdiv{
    margin-top: 400px;
}
 
 
.contact, p{
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
    color: black;
    margin: 0 -8px 0;
}